@charset "utf-8";

/* --------------------------------------------- */
/* common style */
/* --------------------------------------------- */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: $font_sans_jp;
  font-weight: normal;
  font-style: normal;
  color: $black;
  line-height: 1;
  letter-spacing: 0.05em;
  background: $white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: $white;
  background: $gray;
}

::-moz-selection {
  color: $white;
  background: $gray;
}

a:link {
  color: $lt_black;
  text-decoration: none;
}

a:visited {
  color: $lt_black;
}

a:hover {
  color: $lt_gray;
}

a:active {
  color: $gray;
}

* {
  -webkit-text-size-adjust: none;
}
