@charset "utf-8";

/* --------------------------------------------- */
/* wrap */
/* --------------------------------------------- */

#wrap {
  position: relative;
}

body#smp {}

body#pc {}


/* --------------------------------------------- */
/* layout */
/* --------------------------------------------- */


/* --------------------------------------------- */
/* loading */
/* --------------------------------------------- */

.loadCircleAnima {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0 0 -16px;
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    animation: rotate 1800ms cubic-bezier($easeIn-out-circ) infinite;
    border-radius: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid $lt_gray;
    border-left: 1px solid #fff;
    border-right: 1px solid $lt_gray;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  80% {
    transform: rotateZ(0deg);
  }
}
