@charset "utf-8";

/*------------------------------------------------
   sample
------------------------------------------------*/
#sample{
  padding: 60px 120px;
  line-height: 1.8;

  .cont{
    margin: 0 0 80px 0;

    h1{
      margin: 0 0 25px 0;
      font-size: 28px;
    }

    h2{
      margin: 0 0 25px 0;
      padding: 0 0 0 12px;
      font-size: 20px;
      line-height: 1;
      border-left: $black solid 3px;
    }

    h3{
      margin: 0 0 15px 0;
      font-size: 14px;
    }

    p{
      margin: 0 0 6px 0;
    }

    .iconfont{
      display: flex;
      justify-content: space-between;
      p{
        font-size: 18px;
      }
    }

    input{
      margin: 0 8px 0 0;
      padding: 10px;
      font-size: 13px;
      border: $dk_white solid 1px;
      border-radius: 4px;
    }

    button{
      margin: 0 8px 0 0;
      padding: 10px;
      font-size: 13px;
      background: $dk_white;
      border-radius: 4px;
    }

  }
}

.sample-font-awesome{
  &:after{
    @include sample-font-awesome();
  }
}

.sample-black-tie{
  &:after{
    @include sample-black-tie();
  }
}

.sample-ionicons{
  &:after{
    @include sample-ionicons();
  }
}

.sample-simple-line-font{
  &:after{
    @include sample-simple-line-font();
  }
}


.fade-enter {
  opacity: 0;
  transition: opacity .5s;
}

.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter-to {
  opacity: 1;
  transition: opacity .5s;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s;
}

.fade-leave-active {
  transition: opacity .5s;
}

.fade-leave-to {
  opacity: 0;
  transition: opacity .5s;
}
